pycache/
*.py[cod]
*$py.class
*.so
.Python
.pytest_cache/
.mypy_cache/
.ruff_cache/
.coverage
coverage.xml
htmlcov/
.venv/
venv/
env/
ENV/
.env
.env.*


*.log
celerybeat-schedule
*.pid
build/
dist/
*.egg-info/
.eggs/
pip-wheel-metadata/

*.sqlite3
*.db
*.sql
.pytest_cache/
.tox/
.nox/


.vscode/
.test.env
.DS_Store
